@model StudentsApp.Models.Class

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Students 
        </dt>
        <dd class = "col-sm-10" >
            <label id="valueStudents"></label>
        </dd>
        <dt class = "col-sm-2">
            Class Details
        </dt>
        <dd class = "col-sm-10" id="valueClassDetail">
            <label id="valueClassDetail"></label>
        </dd>
    </dl>
</div>
<div>
    <a href="" id="btnEdit">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Classes/details.js"></script>
}
