@model StudentsApp.Models.Class

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label for="selectStudents" class="control-label">Students</label>
                <select id="selectStudents" name="FkIdPerson"></select>
            </div>
            <div class="form-group">
                <label for="selectClassDetails" class="control-label">Class Details</label>
                <select id="selectClassDetails" name="FkIdClassDetails"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Classes/create.js"></script>
}
