@model IEnumerable<StudentsApp.Models.CurricularUnit>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tabela">
    <thead>
        <tr>
            <td colspan="4">
                <input type="text" placeholder="Search" id="inpSearch">
                <button id="btnSearch" onclick="getSearch()">Search</button>
            </td>
        </tr>
        <tr>
            <th>#</th>
            <th>Curricular Unit Name</th>
            <th>Options</th>
        </tr>
    </thead>

    <tbody id="body-table">
    </tbody>


    <tfoot id="foot-table">
    </tfoot>
</table>
@section Scripts {
     <script type="text/javascript" src="~/js/CurricularUnits/index.js"></script>
}
