@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClassDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Class Detail Name
        </dt>
        <dd class = "col-sm-10">
            <label id="valueClassDetailName"></label>
        </dd>
        <dt class = "col-sm-2">
            Class Detail Year
        </dt>
        <dd class = "col-sm-10">
            <label id="valueClassDetailYear"></label>
        </dd>
        <dt class = "col-sm-2">
            Teacher
        </dt>
        <dd class = "col-sm-10">
            <label id="valueTeacher"></label>
        </dd>
    </dl>
</div>
<div>
    <a href="" id="btnEdit">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/ClassDetails/details.js"></script>
}
